body {
  background-color: #fafafa;
}
.navbar .nav-link.active {
  font-weight: 600;
}

.item-detail {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .item-detail {
    grid-template-columns: 1fr 1fr;
  }
}

.card-img-top {
  object-fit: cover;
}

.detail-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.cart-thumb {
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.cart-line-total {
  min-width: 100px;
}
